{% extends "main/layout.html" %}
{% block content %}
<div class="list">
    <h1 class="text-center">Completed Events List</h1>
    <div class="row">
        <div class="col-sm-11 m-auto">
            {% if completed_events %}
            <div class="table-responsive">
                <table class="table table-dark">
                    <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Location</th>
                        <td scope="col">Started On</td>
                        <th scope="col">Funds Used</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for completed_event in completed_events %}
                    <tr>
                        <td><a href="#" class="text-white"><u>{{  completed_event.event.title }}</u></a></td>
                        <td>{{ completed_event.event.location }}</td>
                        <td>{{ completed_event.event.event_timings }}</td>
                        <td>{{ completed_event.funds_used }}</td>
                        <td><a class="btn btn-success" href="{% url 'main:achievement-update' completed_event.id %}">Update</a></td>
                        <td><a class="btn btn-danger" href="{% url 'main:achievement-delete' completed_event.id %}">Delete</a></td>
                    </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}